---
import type { CommentsConfig } from '../../utils/comments';

interface Props {
  config: CommentsConfig['giscus'];
}

const { config } = Astro.props;
---

<div class="comment-provider" data-comment-provider="giscus"></div>

<script type="module" define:vars={{ config }}>
  const mountGiscus = () => {
    const container = document.querySelector('[data-comment-provider="giscus"]');

    if (!container) {
      return;
    }

    const script = document.createElement('script');
    script.src = 'https://giscus.app/client.js';
    script.async = true;
    script.crossOrigin = 'anonymous';
    script.setAttribute('data-repo', config.repo);
    script.setAttribute('data-repo-id', config.repo_id);
    script.setAttribute('data-category', config.category);
    script.setAttribute('data-category-id', config.category_id);
    script.setAttribute('data-mapping', config.mapping);
    script.setAttribute('data-strict', config.strict);
    script.setAttribute('data-reactions-enabled', config.reactions_enabled);
    script.setAttribute('data-emit-metadata', config.emit_metadata);
    script.setAttribute('data-input-position', config.input_position);
    script.setAttribute(
      'data-theme',
      document.documentElement.dataset.theme === 'dark' ? config.dark_theme : config.light_theme,
    );
    script.setAttribute('data-lang', config.lang);
    script.setAttribute('data-loading', config.loading);

    container.replaceChildren(script);
  };

  // TODO: Not sure if this event could cost some delay

  window.addEventListener('navfolio:theme-change', (event) => {
    const iframe = document.querySelector('iframe.giscus-frame');
    const siteTheme = event.detail?.theme === 'dark' ? 'dark' : 'light';

    iframe?.contentWindow?.postMessage(
      {
        giscus: {
          setConfig: {
            theme: siteTheme === 'dark' ? config.dark_theme : config.light_theme,
          },
        },
      },
      'https://giscus.app',
    );
  });

  mountGiscus();
  document.addEventListener('astro:page-load', mountGiscus);
</script>
